<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.eevent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.EEvent"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Customer.Orders.CusOrderListEdActivity"></activity>
        <activity android:name=".Customer.Orders.CusOrderListFmActivity" />
        <activity android:name=".Customer.Orders.CusOrderListChActivity" />
        <activity android:name=".Customer.Orders.CusOrderListPhotographerActivity" />
        <activity android:name=".Customer.Orders.MainOrderListActivity" />
        <activity android:name=".Photographer.Product.ProductDescriptionPhotographerActivity" />
        <activity android:name=".Photographer.Product.OrderPhotographerActivity" />
        <activity android:name=".Photographer.Order.OrderDetailsPhotographerActivity" />
        <activity android:name=".Photographer.Order.OrderListPhotographerActivity" />
        <activity android:name=".Photographer.Product.AddProductPhotographerActivity" />
        <activity android:name=".Photographer.Product.AllProductPhotographerActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".Photographer.Profile.EditProfilePhotographerActivity" />
        <activity android:name=".Photographer.Profile.ProfilePhotographerActivity" />
        <activity android:name=".FoodManagement.Profile.EditProfileFmActivity" />
        <activity android:name=".FoodManagement.Profile.ProfileFmActivity" />
        <activity android:name=".EventDecorator.Profile.EditProfileEdActivity" />
        <activity android:name=".EventDecorator.Profile.ProfileEdActivity" />
        <activity android:name=".ConventionHall.Profile.EditProfileChActivity" />
        <activity android:name=".ConventionHall.Profile.ProfileChActivity" />
        <activity android:name=".Customer.Profile.EditProfileCusActivity" />
        <activity android:name=".Customer.Profile.ProfileCusActivity" />
        <activity android:name=".Admin.ViewUsers.FmListActivity" />
        <activity android:name=".Admin.ViewUsers.EdListActivity" />
        <activity android:name=".Admin.ViewUsers.ChListActivity" />
        <activity android:name=".Admin.ViewUsers.PhotographerListActivity" />
        <activity android:name=".Admin.ViewUsers.CusListActivity" />
        <activity android:name=".Admin.Profile.EditProfileAdminActivity" />
        <activity android:name=".Admin.Profile.ProfileAdminActivity" />
        <activity android:name=".Photographer.PhotographerMainActivity" />
        <activity android:name=".FoodManagement.FmMainActivity" />
        <activity android:name=".EventDecorator.EdMainActivity" />
        <activity android:name=".Customer.CusMainActivity" />
        <activity android:name=".ConventionHall.ChMainActivity" />
        <activity android:name=".Admin.AdminMainActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>